{% extends 'index.html' %}
{% block title %}About Us - MedQuiz{% endblock title %}

{% block content %}

<h1 class="display-4 text-center my-5">About Us</h1>

<main>
    <div class="container col-md-8 col-sm-12">
        <section class="app-description">
            <h2>Welcome to MedQuiz,</h2>
            <p>
                The birthday present for Dr. Mikhail Varshavski that's injecting a dose of medical intrigue into your day! We've got a buffet of brain teasers covering everything from gynecology to orthopedics and dermatology. It's not your usual party game – our questions are the real deal. So, buckle up for a wild ride through the world of medicine, where knowledge is the ultimate gift, and every correct answer is a high-five to Dr. Mikhail. Get ready to flex those brain muscles and dive into the quizzical festivities. Let's make this birthday unforgettable!
            </p>
        </section>

        <section class="how-it-works">
            <h2>How It Works</h2>
            <p>
                MedQuiz offers a simple and intuitive user interface that allows you to:
            </p>
            <ul>
                <li>Sign up and create your personalized account.</li>
                <li>Choose from a variety of quiz topics in the Medical domain.</li>
                <li>Participate in time-limited quizzes and answer questions to rank yourself on MedQuiz.</li>
                <li>Track your progress and compete with other Medical enthusiasts on the leaderboard.</li>
            </ul>
        </section>
    </div>
</main>

{% endblock content %}