{% extends 'index.html' %}

{% block title %}Terms & Conditions - MedQuiz{% endblock title %}

{% block content %}

<h1 class="display-4 text-center my-5">Terms & conditions</h1>


<main>
    <div class="container col-md-8 col-sm-12">
        <h2>1. Introduction</h2>
        <p>
            Welcome to the most medically amusing corner of the internet! This is the "Dr. Mikhail Varshavski Birthday Quiz Extravaganza" (hereinafter referred to as "MediQuiz")- the never-ending birthday bash in cyberspace—a gift that keeps delivering laughs and medical marvels, much like Dr. Varshavski's own blend of humor and expertise!
            By using MediQuiz, you agree to the following terms and conditions. Don't worry, they're as painless as a flu shot administered by a superhero-themed band-aid-wielding nurse.
        </p>

        <h2>2. User Accounts</h2>
        <p>
            Creating a user account is as simple as diagnosing a chuckle-fit. Just be sure to feed us accurate details; we wouldn't want Dr. Varshavski receiving birthday cards for "GoopyGwenethMD007." You're responsible for keeping your password secret – don't make it "password123" unless you want Dr. Varshavski himself to prescribe you a strong dose of cybersecurity advice. Which, he is not qualified to do.
        </p>

        <h2>3. Content</h2>
        <p>
            You're welcome to share your quiz results on on the internet – let's spread the joy like germs on a petridish! However, we ask that you refrain from posting anything that might be more infectious than laughter, such as offensive content or pictures of you in black adidas track-suit and your furry pet dog sitting together looking like the Russian Mafia (unless it's really funny).
        </p>

        <h2>4. Intellectual Property</h2>
        <p>
            We respect intellectual property like Dr. Varshavski respects ethical medical professionals on social media. All content created by us is ours, and all content created by you (within the bounds of the quiz) remains yours. We won't claim ownership of your brilliant answers, and you won't claim ownership of the question, "Why did the doctor carry a red pen? In case they needed to draw blood!"
        </p>

        <h2>5. Disclaimer</h2>
        <p>
            While our quiz questions are as demanding as a final exam (not really), we assure you, no one will be grading you with a stern expression. Just remember, we're not responsible for any intense brain workouts, sudden epiphanies, or the realization that you might know more about neuroanatomy than you originally thought. If your neurons start doing gymnastics, take a break, maybe consult with a glass of sparkling water. And remember, the only side effect we endorse is a potential boost to your medical trivia prowess. Keep those synapses firing, and happy quizzing!

        </p>

        <h2>6. Changes to Terms</h2>
        <p>
            So, put on your imaginary party hat, stethoscope, or both, and let's celebrate Dr. Mikhail Varshavski's birthday in style with the medical knowledge every doctor needs.

        </p>
    </div>
</main>

{% endblock content %}